* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.top {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.top__left a {
  color: #000;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

.logo {
  width: 170px;
}

.btn {
  color: #fff;
  background: #567b95;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 3px;
}
