* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.top__left a {
  color: #000;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

.logo {
  width: 170px;
}

.btn {
  color: #fff;
  background: #567b95;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 3px;
}

.feature-image {
  width: 70%;
  margin: 70px auto;
}

.feature-image > h1 {
  font-style: italic;
  line-height: 50px;
  width: 80%;
  margin: 25px auto;
}

.feature-image > figure > img {
  width: 100%;
}

figcaption {
  color: #666;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  margin-right: 25%;
}

figcaption > span {
  font-size: 13px;
}

article {
  width: 50%;
  margin: 0 auto;
  color: #333;
  line-height: 30px;
  font-size: 18px;
}

article > h4 {
  margin: 15px 0;
  font-size: 14px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social > p {
  font-size: 14px;
}

.icons > li {
  display: inline-flex;
  margin-left: 5px;
}

.icons > li > a {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #eee;
  border-radius: 50%;
  color: black;
  padding-left: 7px;
  font-size: 13px;
  border: 1px solid #eee;
}

.icons > a:hover {
  border: 1px solid #ccc;
  background: white;
}

.theory {
  width: 65%;
  margin: 40px auto;
}

.theory h4 {
  font-weight: 700;
  font-size: 18px;
}

.theory p {
  color: #333;
}

.article-thumbnail {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

div[class^="img-thumb"] {
  width: 200px;
  height: 140px;
  background-color: #333;
  overflow: hidden;
  position: relative;
}

/* .img-thumb-1 {
  background-image: url(images/inflation-720.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
} */
.img-thumb-1 img {
  position: absolute;
  width: 800px;
  left: 0;
  top: 0;
}

.img-thumb-2 img {
  position: absolute;
  width: 800px;
  left: -200px;
  top: 0;
}

.img-thumb-3 img {
  position: absolute;
  width: 800px;
  left: -400px;
  top: 0;
}

.img-thumb-4 img {
  position: absolute;
  width: 800px;
  right: 0;
  top: 0;
}

.img-thumb-5 img {
  position: absolute;
  width: 800px;
  left: 0;
  top: -350px;
}

.img-thumb-6 img {
  position: absolute;
  width: 800px;
  left: -200px;
  top: -350px;
}

.img-thumb-7 img {
  position: absolute;
  width: 800px;
  left: -400px;
  top: -350px;
}

.img-thumb-8 img {
  position: absolute;
  width: 800px;
  right: 0;
  top: -350px;
}
